<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          [disabled]="(by$ | async) === 'title'"
          (click)="setSort('title')"
          class="btn btn-secondary">Sort by Title</button>
  <button type="button"
          [disabled]="(by$ | async) === 'artist'"
          (click)="setSort('artist')"
          class="btn btn-secondary">Sort by Artist</button>
  <button type="button"
          [disabled]="(by$ | async) === 'album'"
          (click)="setSort('album')"
          class="btn btn-secondary">Sort by Album</button>
</div>
