<form class="form-inline"
      [formGroup]="songForm"
      (ngSubmit)="submit(focusMe)">
  <div class="form-group col-md-12 form-inline">
    <label class="col-sm-2"
           for="title">Title</label>
    <input name="title"
           #focusMe
           formControlName="title"
           class="form-control">
    <div class="alert alert-danger"
         *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required">
        This is required.
      </div>
      <div *ngIf="title.errors.maxlength">
        This is too dang long. It should be {{title.errors.maxlength.requiredLength}} characters or less...
      </div>
    </div>
  </div>
  <div class="form-group col-md-12 form-inline">
    <label class="col-sm-2"
           for="artist">Artist</label>
    <input name="artist"
           formControlName="artist"
           class="form-control">
    <div class="alert alert-danger"
         *ngIf="artist.invalid && (artist.dirty || artist.touched)">
      <div *ngIf="artist.errors.required">
        This is required.
      </div>
      <div *ngIf="artist.errors.maxlength">
        This is too dang long. It should be {{artist.errors.maxlength.requiredLength}} characters or less...
      </div>
    </div>
  </div>
  <div class="form-group col-md-12 form-inline">
    <label class="col-sm-2"
           for="album">Album</label>
    <input name="album"
           formControlName="album"
           class="form-control">
    <div class="alert alert-danger"
         *ngIf="album.invalid && (album.dirty || album.touched)">
      <div *ngIf="album.errors.required">
        This is required.
      </div>
      <div *ngIf="album.errors.maxlength">
        This is too dang long. It should be {{album.errors.maxlength.requiredLength}} characters or less...
      </div>
    </div>
  </div>
  <input type="submit"
         [disabled]="songForm.invalid"
         value="Add Song To Collection"
         class="btn btn-success">
</form>
