<div class="card"
     *ngFor="let book of books">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h6>Written by: {{book.author}}</h6>
    <h6>Format: {{book.format}}</h6>
    <h5>
      <span class="loan badge badge-warning"
            *ngIf="book.onLoan; else notOnLoanBlock">Book on Loan</span>
      <ng-template #notOnLoanBlock>
        <span class="loan badge badge-primary">In Library</span>
      </ng-template>
    </h5>
    <button type="button"
            class="btn btn-outline-info"
            (click)="toggleOnLoan(book)">Toggle On Loan</button>
  </div>
</div>
